body { background-color: teal;

  
}
h1 { color: white;
  
}
h2 { color: darkblue;
  
}
h3 { font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

p {font-family:Lato; color: yellow;}